body{
    background-image: url("../images/main-theme.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    line-height: 1.6;
    font-family: 'Caveat', cursive;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.main-theme{
    width: 100%;
    height: 100vh;
    background: url("../images/main-theme.jpg") center no-repeat;
    background-size: cover;
    margin: 0 auto;
    z-index: -2;
}
h1{
    font-size: 100px;
    color:black;
    padding: 0 0 0 20px;
    position: absolute;
    left: 300px;
    margin: 0;
}

.main-part{
    width: 1200px;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.form_button_delete {
     letter-spacing: 1px;
     font-size: 23px;
     border: none;
     border-radius: 5px;
     color: white;
     background-color: #0071f0;
     outline:none;
     cursor: pointer;
     font-family: 'Caveat', cursive;
}
.user-table {
    width: 1100px;
    position:relative;
    left: 50px;
    margin: 0;
    border-collapse: collapse;
    border: 2px solid white;
    font-size:30px;
    color:black;
    background: #CCCCFF;
    opacity: 0.7;
    font-weight:bold;
    text-align: center;
    top: 250px;
}
td {
    border: 2px white solid;
    padding: 0.4em;
}
tr{
    height: 70px;
}
.new-user{
     background-color:#4698f1;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     color: white;
     width:183px;
     height:50px;
     position:absolute;
     top:170px;
     left:80px;
     font-size: 35px;
     text-decoration: none;
     text-align:center;
}
.courses,
.users {
     position:absolute;
     top:10px;
     font-size: 40px;
     text-decoration: none;
     color: blue;
}
.courses{
     left:20px;
}
.users{
     left:150px;
}
.my-profile{
     background-color:#4698f1;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     color: white;
     width:183px;
     height:50px;
     position:absolute;
     top:30px;
     right:30px;
     font-size: 35px;
     text-decoration: none;
     text-align:center;
}
.float-right{
     letter-spacing: 1px;
     font-size: 35px;
     border: none;
     border-radius: 5px;
     color: white;
     background-color: #4698f1;
     outline:none;
     cursor: pointer;
     font-family: 'Caveat', cursive;
     position:absolute;
     margin:0 auto;
     right:30px;
     top:90px;
}


