body{
    margin: 0;
    line-height: 1.6;
    font-family: 'Caveat', cursive;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.main-theme{
    width: 600px;
    height: 436px;
    background: url("../images/error.jpg") center no-repeat;
    color: black;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
h1{
    font-size:50px;
    color:black;
    position: relative;
    top:50px;
}
header {
    position: absolute;
    word-spacing: 20px;
    left:30px;
    top:0px;
    font-size:40px;
    min-width: 150px;
}
.new-course {
    position: absolute;
    word-spacing: 15px;
    left:250px;
    top:0px;
    font-size:40px;
    min-width: 150px;
}
