body{
    margin: 0;
    line-height: 1.6;
    font-family: 'Caveat', cursive;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.main-theme{
    width: 100%;
    height: 100vh;
    background: url("../images/main-theme.jpg") center no-repeat;
    background-size: cover;
    margin: 0 auto;
    z-index: -2;
}
h1{
    font-size: 100px;
    color:black;
    padding: 0 0 0 20px;
    position: relative;
    top:20px;
    margin: 0;
}
h2{
    font-size: 30px;
    color:black;
    padding: 0 0 0 30px;
    position: absolute;
    top:300px;
    margin: 0;
    opacity: 0.2;
}
h3{
    font-size: 30px;
    color:black;
    padding: 0 0 0 30px;
    margin: 0;
    position: absolute;
    top:420px;
    z-index:30;
}
h4{
    font-size: 30px;
    color:black;
    padding: 0 0 0 30px;
    margin: 0;
    position: absolute;
    top:620px;
    z-index:30;
}

.main-part{
    width: 1200px;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.form{
    position: absolute;
    top: 10px;
    width: 100%;
    height: 380px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    background-color:white;
    opacity: 0.3;
    letter-spacing: 1px;
}
.form_input-name{
    font-family: 'Caveat', cursive;
    letter-spacing: 1px;
    font-size: 30px; 
    color: black;
    position: absolute;
    top:150px;
}
.form_input-author{
    font-family: 'Caveat', cursive;
    letter-spacing: 1px;
    font-size: 30px; 
    color: black;
    position: absolute;
    top:200px;
}
.form_group{
    position: relative;
    margin-bottom: 0px;
}
.form_label{
    position: absolute;
    left:0;
    top: 0;
    z-index: -1;
    color: white;
    transition: 0.3s;
}
.form_input-name,
.form_input-author{
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
}
.form_button,
.form_button_delete,
.form_button_getaway{
    letter-spacing: 1px;
    font-size: 23px; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #0071f0;
    outline:none;
    cursor: pointer;
    font-family: 'Caveat', cursive;
    position: absolute;
}
.form_button{
    top: 320px;
    right:100px;
}
.form_button_delete{
    top: 525px;
    right:125px;
    z-index: 20;
}
.form_button_getaway{
    top: 725px;
    right:100px;
    z-index: 20;
}

.helper{
    width: 200px;
    height: 200px;
    position: absolute;
    left:230px;
    top:300px;
}
.file-upload input[type="file"]{
    display: none;
}
.file-upload {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 40px;
    background: #0071f0;
    border-radius: 10px;
    color: white;
    text-align: center;
    
}
.file-upload:hover {
    background: #1E90FF;
}
.file-upload label {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.file-upload span {
    line-height: 40px;
    font-weight:bold;
    letter-spacing: 1px;
    font-size: 25px; 
}
.form_buttom{
    width: 100%;
    height: 500px;
    position: absolute;
    top: 400px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    background-color:dimgrey;
    opacity: 0.2;
    letter-spacing: 1px;
    z-index: -1;
}
.first-table,
.second-table{
    width: 1100px;
    height: 100px;
    position: absolute; 
    left: 50px;
    margin: 0; 
    border-collapse: collapse;
    font-size:25px; 
    color:black;
    z-index: 2;
    background: #E6EEEE;
    font-weight:bold;
    text-align: center;
}
.first-table{
    top: 480px;
}
.second-table{
    top: 680px; 
}
.wp-table td{
    border: 1px solid black;
     
}
.wp-table tr:nth-child(odd){
    background:#E6EEEE;
}
.wp-table tr:hover{
    background:#E6EEEE; 
    color: darkblue;
}
