<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CourseInformation.css}">
    <title>course information</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Dancing+Script:wght@700&family=Staatliches&family=Teko:wght@500&display=swap"
            rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#fl_inp").change(function () {
                var filename = $(this).val().replace(/.*\\/, "");
                $("#fl_nm").html(filename);
            });
        });
    </script>
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class="main-theme">
    <div class="main-part">
        <h1> Информация о курсе </h1>

        <div class="avatar-form">
            <div th:if="${id != null}">
                <form enctype="multipart/form-data" th:action="@{/course/{courseId}/avatar(courseId = ${course.id})}"
                      th:method="post" th:object="${course}">
                    <input th:field="*{id}" type="hidden">
                    <div>
                        <img alt="Course profile" class="course-image"
                             th:src="@{/course/{courseId}/avatar(courseId = ${course.id})}" width="300">
                    </div>
                    <label class="label3">Аватарка:</label>
                    <div class="fl_upld" sec:authorize="hasRole('ADMIN')">
                        <label><input id="fl_inp" name="avatar" type="file">Выберите файл</label>
                        <div id="fl_nm"></div>
                    </div>
                    <div class="avatar-button-help" sec:authorize="hasRole('ADMIN')">
                        <button class="avatar-button">Сохранить аватар</button>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <form th:action="@{/course}" th:method="post" th:object="${course}">
                <input th:field="*{id}" type="hidden">
                <div class="form_group">
                    <div>
                        <label class="label1" for="title">Название курса:</label>
                        <input class="form_input-name" id="title" placeholder="Введите название курса" th:field="*{title}"
                               type="text">
                        <small class="validation-error-title" th:errors="*{title}"
                               th:if="${#fields.hasErrors('title')}"></small>
                    </div>
                    <div>
                        <label class="label2" for="author">Автор:</label>
                        <input class="form_input-author" id="author" placeholder="Введите автора курса" th:field="*{author}"
                               type="text">
                        <small class="validation-error-author" th:errors="*{author}"
                               th:if="${#fields.hasErrors('author')}"></small>
                    </div>
                    <div sec:authorize="hasRole('ADMIN')">
                        <button class="form_button" type="submit">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="lesson-user">
            <div th:unless="${lessons == null}">
                <h2>Список уроков</h2>
                <table class="lesson-table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th sec:authorize="hasRole('ADMIN')">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="lesson : ${lessons}" th:unless="${lessons.empty}">
                        <td th:text="${lesson.id}">1</td>
                        <td>
                            <a th:href="@{/lesson/{id}(id = ${lesson.id})}" th:text="${lesson.title}">Lesson title</a>
                        </td>
                        <td sec:authorize="hasRole('ADMIN')">
                            <form th:action="@{/lesson/{id}(id = ${lesson.id})}" th:method="delete">
                                <button class="form_button_delete" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <tr th:if="${lessons.empty}">
                        <td colspan="4">Уроки не добавлены</td>
                    </tr>
                    </tbody>
                </table>
                <div sec:authorize="hasRole('ADMIN')">
                    <a class="new-lesson" th:href="@{/lesson/new(course_id = ${course.id})}">New lesson</a>
                </div>
            </div>

            <div sec:authorize="hasRole('ADMIN')" th:unless="${users == null}">
                <h3>Список участников</h3>
                <table class="user-table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}" th:unless="${users.empty}">
                        <td th:text="${user.id}">1</td>
                        <td>
                            <a th:text="${user.username}">Username</a>
                        </td>
                        <td>
                            <form th:action="@{/course/{courseId}/user/{id}(courseId = ${course.id}, id = ${user.id})}"
                                  th:method="delete">
                                <button class="form_button_delete" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <tr th:if="${users.empty}">
                        <td colspan="4">Пользователи не добавлены</td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <a class="new-user" th:href="@{/course/{id}/assign(id = ${course.id})}">New user</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>