<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/CourseInformation.css}">
  <title>course information</title>
  <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Dancing+Script:wght@700&family=Staatliches&family=Teko:wght@500&display=swap"
      rel="stylesheet">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="new-course">
  <a th:href="@{/course/new}">New course</a>
</div>

<div class="main-theme">
  <div class="main-part">
    <h1> Информация о курсе </h1>
    <form th:object="${course}" th:method="post" th:action="@{/course}">
      <input type="hidden" th:field="*{id}">
      <div class="form_group">
        <div>
          <label class="label1" for="title">Название курса:</label>
          <input class="form_input-name" placeholder="Введите название курса" type="text" id="title" th:field="*{title}">
          <small class="validation-error-title" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>
        </div>
        <div>
          <label class="label2" for="author">Автор:</label>
          <input class="form_input-author" placeholder="Введите автора курса" type="text" id="author" th:field="*{author}">
          <small class="validation-error-author" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></small>
        </div>
        <div>
          <button class="form_button" type="submit">Сохранить</button>
        </div>
      </div>
    </form>
    <div class="lesson-user">
      <div th:unless="${lessons == null}">
        <h2>Список уроков</h2>
        <table class = "lesson-table">
          <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr th:unless="${lessons.empty}" th:each="lesson : ${lessons}">
            <td th:text="${lesson.id}">1</td>
            <td>
              <a th:text="${lesson.title}" th:href="@{/lesson/{id}(id = ${lesson.id})}">Lesson title</a>
            </td>
            <td>
              <form th:method="delete" th:action="@{/lesson/{id}(id = ${lesson.id})}">
                <button class="form_button_delete" type="submit">Delete</button>
              </form>
            </td>
          </tr>
          <tr th:if="${lessons.empty}" >
            <td colspan="4">Уроки не добавлены</td>
          </tr>
          </tbody>
        </table>
        <div>
          <a class ="new-lesson" th:href="@{/lesson/new(course_id = ${course.id})}">New lesson</a>
        </div>
      </div>

    <div th:unless="${users == null}">
      <h3>Список участников</h3>
      <table class="user-table">
        <thead>
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:unless="${users.empty}" th:each="user : ${users}">
          <td th:text="${user.id}">1</td>
          <td>
            <a th:text="${user.username}">Username</a>
          </td>
          <td>
            <form th:method="delete" th:action="@{/course/{courseId}/user/{id}(courseId = ${course.id}, id = ${user.id})}">
              <button class="form_button_delete" type="submit">Delete</button>
            </form>
          </td>
        </tr>
        <tr th:if="${users.empty}" >
          <td colspan="4">Пользователи не добавлены</td>
        </tr>
        </tbody>
      </table>
      <div>
        <a class ="new-user" th:href="@{/course/{id}/assign(id = ${course.id})}">New user</a>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
</body>

</html>