<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/Courses.css}">
  <title>courses</title>
  <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Dancing+Script:wght@700&family=Staatliches&family=Teko:wght@500&display=swap"
      rel="stylesheet">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="new-course">
  <a th:href="@{course/new}">New course</a>
</div>

<div class="main-theme">
  <div class="main-part">
    <h1> Курсы </h1>
    <form>
      <input type="text" id="titlePrefix" class="form_input-name" name="titlePrefix"
             placeholder="Введите название курса" th:value="${param.titlePrefix}"/>
      <button class="form_button">Поиск</button>
    </form>
    <table class="first-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:unless="${courses.empty}" th:each="course : ${courses}">
        <td th:text="${course.id}">1</td>
        <td>
          <a th:text="${course.title}" th:href="@{/course/{id}(id = ${course.id})}">Course name</a>
        </td>
        <td th:text="${course.author}">Course author</td>
        <td>
          <form th:method="delete" th:action="@{/course/{id}(id = ${course.id})}">
            <button class="form_button_delete" type="submit">Delete</button>
          </form>
          <form th:method="get" th:action="@{/course/{id}/assign(id = ${course.id})}">
            <button class="form_button_assign" type="submit">Assign</button>
          </form>
        </td>
      </tr>
      <tr th:if="${courses.empty}" >
        <td colspan="4">Курсы не найдены</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>