<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CreateLesson.css}">
    <title>create lesson</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Dancing+Script:wght@700&family=Staatliches&family=Teko:wght@500&display=swap"
            rel="stylesheet">
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class="main-theme">
    <div class="main-part">
        <h1> Описание урока </h1>
        <h2> Название: </h2>
        <h3> Содержание: </h3>
        <form th:action="@{/lesson}" th:method="post" th:object="${lessonDto}">
            <input th:field="*{id}" type="hidden">
            <input th:field="*{courseId}" type="hidden">

            <div class="form_group">
                <input class="form_input-name" id="title" placeholder="Введите название урока" th:field="*{title}"
                       type="text">
                <small class="validation-error" th:errors="*{title}" th:if="${#fields.hasErrors('title')}">Title
                    shouldn't be
                    empty</small>

                <div class="help_text">
                    <textarea cols="30" id="text" name="opinion"
                              placeholder="Здесь должно быть описано содержание урока..." rows="20" th:field="*{text}"></textarea>
                    <small class="validation-error" th:errors="*{text}" th:if="${#fields.hasErrors('text')}">Text
                        shouldn't be
                        empty</small>
                </div>
            </div>
            <div sec:authorize="hasRole('ADMIN')">
                <button class="form_button" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>