<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="assets/css/create%20lesson.css">
    <title>create lesson</title>
   <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Dancing+Script:wght@700&family=Staatliches&family=Teko:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<div class="main-theme">
    <div class="main-part">
      <h1> Создать урок </h1>
       <form class="form">
           <div class="form_group">
               <input class="form_input-name" placeholder="Введите название урока">
           </div>
       </form> 
       <div class="help_text">
           <textarea name="opinion"></textarea>
       </div>
       <h2>Опишите содержание урока:</h2>
       <button class="form_button">Создать</button>
    </div> 
</div>    
</body>
</html>